@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Inter', sans-serif;
  --font-playlist-script: 'Playlist-Script', cursive;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-sangria-50: #fff0f0;
  --color-sangria-100: #ffdddd;
  --color-sangria-200: #ffc1c1;
  --color-sangria-300: #ff9696;
  --color-sangria-400: #ff5a5a;
  --color-sangria-500: #ff2727;
  --color-sangria-600: #fb0707;
  --color-sangria-700: #d30202;
  --color-sangria-800: #ae0606;
  --color-sangria-900: #890c0c;
  --color-sangria-950: #4f0000;


}
